@import url('https://fonts.googleapis.com/css?family=Codystar|Dawning+of+a+New+Day|Montez|Raleway+Dots|Sacramento|Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.allMe{
background-color: transparent;


}


.aboutMeProfile{
    background-color: rgba(23, 23, 73, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
   
  
}


.parraf{
    
    color: wheat;
 
   width: 40%;
    font-size: 300%;
    text-align: center;
position: relative;
left: 10%;
float: right;
font-family: 'Montez', cursive;
}

.myPic{
    
    width: 70%;
    border-radius: 20%;
    position: relative;
    left:20%;
    top: 20%;
    
    padding: 5%;
    
    
}

.skills{
    background-color: rgba(236, 176, 116, 0.5);
    
}

.tecnical{
    display:inline;
  
     position: relative;
     top: 50%;
     left: 54%;
     
 }
     
     



