.contacting{
    background: rgba(202, 31, 31, 0.8);
    background-image: url("https://c4.wallpaperflare.com/wallpaper/93/762/482/blue-water-aqua-turquoise-wallpaper-preview.jpg");
background-repeat: no-repeat;
background: cover;
background-blend-mode: multiply;
background-size: 100%;


}

.contacto{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.titleContact{
   padding-top: 3%;
    position: relative;
    top:50%;
    color:wheat;
    font-family:  'Raleway Dots', cursive;
    font-size: 220%;
    display: flex;
    justify-content: center;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(6, 35, 116, 0.521), 0 0 40px rgba(6, 35, 116, 0.521), 0 0 50px rgba(6, 35, 116, 0.521), 0 0 60px rgba(6, 35, 116, 0.521), 0 0 70px rgba(6, 35, 116, 0.521);
}

.email{
    position: relative;
    left:5%;
} 





